* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #1f1e1e !important;
}

nav {
  display: flex;
  justify-content: space-around;
  height: 6vh;
  position: relative;
  top: 1rem;
  z-index: 3;
}
nav .logo {
  font-size: 4vw;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "FontAwesome";
  transition: all 1s;
}
@media (min-width: 1024px) {
  nav .logo {
    font-size: 7rem;
  }
}
@media (max-width: 400px) {
  nav .logo {
    position: relative;
    left: 1rem;
    bottom: 1rem;
  }
}
@media (max-width: 360px) {
  nav .logo {
    font-size: 1.8rem;
  }
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  transition: all 1s;
}
@media (min-width: 1024px) {
  nav ul {
    font-size: 5rem;
  }
}
@media (max-width: 400px) {
  nav ul {
    font-size: 1.2rem;
  }
}
nav ul li {
  padding: 1rem;
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: red;
}
@media (max-width: 360px) {
  nav ul li a {
    font-size: 1.2rem;
  }
}
@media (max-width: 400px) {
  nav ul li a {
    font-size: 1.2rem;
  }
}
@media (max-width: 820px) {
  nav ul li a {
    font-size: 3rem;
  }
}
@media (max-width: 540px) {
  nav ul li a {
    font-size: 2rem;
  }
}
@media (max-width: 414px) {
  nav ul li a {
    font-size: 1.4rem;
  }
}
nav ul li a:hover {
  background-color: red;
  color: white;
  cursor: pointer;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid red;
  border-radius: 15px;
}
nav ul li a:hover:hover {
  opacity: 0.8;
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
nav ul li a:hover:active {
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
nav ul li .dropdown {
  position: relative;
  display: inline-block;
}
nav ul li .dropdown span {
  color: red;
}
@media (max-width: 360px) {
  nav ul li .dropdown span {
    font-size: 1.5rem;
  }
}
@media (max-width: 400px) {
  nav ul li .dropdown span {
    font-size: 1.5rem;
  }
}
@media (max-width: 820px) {
  nav ul li .dropdown span {
    font-size: 3rem;
  }
}
@media (max-width: 540px) {
  nav ul li .dropdown span {
    font-size: 2rem;
  }
}
@media (max-width: 414px) {
  nav ul li .dropdown span {
    font-size: 1.4rem;
  }
}
nav ul li .dropdown span:hover {
  background-color: red;
  color: white;
  cursor: pointer;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid red;
  border-radius: 15px;
}
nav ul li .dropdown span:hover:hover {
  opacity: 0.8;
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
nav ul li .dropdown span:hover:active {
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
nav ul li .dropdown .dropdown-content {
  color: white;
  font-size: 1.7rem;
  background: transparent;
  display: none;
  position: absolute;
  min-width: 160px;
  padding: 12px 16px;
}
@media (max-width: 820px) {
  nav ul li .dropdown a {
    font-size: 2rem;
  }
}
nav ul li .dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}
nav button {
  width: 8rem;
  height: 4rem;
  font-size: 2rem;
  background-color: red;
  color: white;
  position: relative;
  left: 0.1rem;
  cursor: pointer;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid red;
  border-radius: 15px;
}
nav button:hover {
  opacity: 0.8;
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
nav button:active {
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 360px) {
  nav button {
    height: 2rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 400px) {
  nav button {
    font-size: 1.3rem;
    height: 3rem;
    width: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0.1rem;
  }
}
@media (max-width: 820px) {
  nav button {
    position: relative;
    right: 3rem;
  }
}
@media (max-width: 540px) {
  nav button {
    height: 3.5rem;
  }
}
nav button a {
  text-decoration: none;
  color: white;
}
@media (max-width: 360px) {
  nav button a {
    font-size: 1rem;
  }
}
@media (max-width: 414px) {
  nav button a {
    font-size: 1.5rem;
  }
}
@media (max-width: 540px) {
  nav button a {
    font-size: 1.7rem;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header-container {
  background-image: url("../img/best-movies-1614634680.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
@media (max-width: 360px) {
  .header-container {
    width: 100vw;
  }
}
@media (max-width: 400px) {
  .header-container {
    width: 100vw;
  }
}
.header-container header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 20rem;
  z-index: 3;
}
.header-container header h1 {
  font-size: 3rem;
  text-shadow: #474747 3px 5px 2px, 0px 0px 0px rgba(0, 0, 0, 0);
  text-align: center;
}
@media (max-width: 360px) {
  .header-container header h1 {
    font-size: 2rem;
  }
}
@media (max-width: 375px) {
  .header-container header h1 {
    font-size: 2rem;
  }
}
.header-container header p {
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
}
@media (max-width: 360px) {
  .header-container header p {
    font-size: 1.5rem;
  }
}
@media (max-width: 400px) {
  .header-container header p {
    font-size: 1.5rem;
  }
}
.header-container header form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1024px) {
  .header-container header form {
    flex-direction: row;
    width: 60%;
  }
}
.header-container header form input:nth-of-type(1) {
  margin-top: 2rem;
  height: 6rem;
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
}
@media (max-width: 360px) {
  .header-container header form input:nth-of-type(1) {
    height: 3rem;
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  .header-container header form input:nth-of-type(1) {
    height: 3rem;
    font-size: 1rem;
  }
}
@media (max-width: 540px) {
  .header-container header form input:nth-of-type(1) {
    height: 3rem;
    width: 80%;
  }
}
@media (max-width: 414px) {
  .header-container header form input:nth-of-type(1) {
    font-size: 1.5rem;
  }
}
.header-container header form input:nth-of-type(2) {
  margin-top: 2rem;
  height: 5rem;
  width: 15rem;
  background-color: red;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid red;
  border-radius: 15px;
}
.header-container header form input:nth-of-type(2):hover {
  opacity: 0.8;
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
.header-container header form input:nth-of-type(2):active {
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
@media (min-width: 1024px) {
  .header-container header form input:nth-of-type(2) {
    border-radius: 0;
    height: 6rem;
  }
}
@media (max-width: 360px) {
  .header-container header form input:nth-of-type(2) {
    height: 3rem;
    width: 8rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 400px) {
  .header-container header form input:nth-of-type(2) {
    height: 3rem;
    width: 8rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 540px) {
  .header-container header form input:nth-of-type(2) {
    height: 3rem;
    width: 12rem;
  }
}

.shadow {
  position: absolute;
  top: 0;
  background-color: black;
  height: 100vh;
  width: 100%;
  opacity: 0.7;
  z-index: 2;
}

section {
  width: 100%;
  margin: 0.5rem auto;
  background-color: #1f1e1e;
  color: white;
}
section .cat1, section .cat4, section .cat3, section .cat2 {
  display: flex;
  height: 100% !important;
}
@media (max-width: 800px) {
  section .cat1, section .cat4, section .cat3, section .cat2 {
    flex-direction: column;
  }
}
section .cat1 article, section .cat4 article, section .cat3 article, section .cat2 article {
  width: 50% !important;
  background-color: black;
  transition: all 1s;
}
section .cat1 article:hover, section .cat4 article:hover, section .cat3 article:hover, section .cat2 article:hover {
  transform: scale(1.1);
  z-index: 5;
  border: 3px solid white;
}
section .cat1 article:hover p, section .cat4 article:hover p, section .cat3 article:hover p, section .cat2 article:hover p {
  width: 90%;
}
@media (max-width: 800px) {
  section .cat1 article, section .cat4 article, section .cat3 article, section .cat2 article {
    width: 100% !important;
  }
}
section .cat1 article h2, section .cat4 article h2, section .cat3 article h2, section .cat2 article h2 {
  font-size: 4rem;
  text-align: center;
  text-shadow: -4px -4px 8px rgba(238, 231, 231, 0.5), 8px 8px 5px rgba(172, 5, 5, 0.1);
}
@media (min-width: 1024px) {
  section .cat1 article h2, section .cat4 article h2, section .cat3 article h2, section .cat2 article h2 {
    font-size: 6rem;
  }
}
section .cat1 article p, section .cat4 article p, section .cat3 article p, section .cat2 article p {
  font-size: 2vw;
  padding: 1rem;
  margin: 0 auto;
}
section .cat1 .article1:hover, section .cat4 .article1:hover, section .cat3 .article1:hover, section .cat2 .article1:hover {
  color: red;
  border: 3px solid red;
}
section .cat1 #carouselExampleFade, section .cat4 #carouselExampleFade, section .cat3 #carouselExampleFade, section .cat2 #carouselExampleFade {
  width: 50% !important;
}
@media (max-width: 800px) {
  section .cat1 #carouselExampleFade, section .cat4 #carouselExampleFade, section .cat3 #carouselExampleFade, section .cat2 #carouselExampleFade {
    width: 100% !important;
  }
}
section .cat2 {
  margin-top: 0.5rem;
  flex-direction: row-reverse;
}
@media (max-width: 800px) {
  section .cat2 {
    width: 100% !important;
    flex-direction: column;
  }
}
section .cat2 .article2:hover {
  color: green;
  border: 3px solid green;
}
section .cat2 #carouselExampleFade2 {
  width: 50% !important;
}
@media (max-width: 800px) {
  section .cat2 #carouselExampleFade2 {
    width: 100% !important;
  }
}
section .cat3 {
  margin-top: 0.5rem;
}
@media (max-width: 800px) {
  section .cat3 {
    width: 100% !important;
    flex-direction: column;
  }
}
section .cat3 .article3:hover {
  color: purple;
  border: 3px solid purple;
}
section .cat3 #carouselExampleFade3 {
  width: 50% !important;
}
@media (max-width: 800px) {
  section .cat3 #carouselExampleFade3 {
    width: 100% !important;
  }
}
section .cat4 {
  margin-top: 0.5rem;
  flex-direction: row-reverse;
}
@media (max-width: 800px) {
  section .cat4 {
    width: 100% !important;
    flex-direction: column;
  }
}
section .cat4 .article4:hover {
  color: orange;
  border: 3px solid orange;
}
section .cat4 #carouselExampleFade4 {
  width: 50% !important;
}
@media (max-width: 800px) {
  section .cat4 #carouselExampleFade4 {
    width: 100% !important;
  }
}

.carousel-inner {
  transition: all 1s;
}
.carousel-inner:hover {
  transform: scale(1.1);
  z-index: 5;
  border: 3px solid white;
}
.carousel-inner:hover p {
  width: 90%;
}

footer {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer p {
  color: rgb(201, 192, 192);
  font-size: 1vw;
  position: relative;
  left: 1rem;
  opacity: 0.5;
}
footer div i {
  font-size: 2rem;
  color: white;
  padding: 1rem;
  transition: all 0.5s;
}
footer div .fa-twitter:hover {
  transform: scale(1.1);
  background: #1D9BF0;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border: 1px solid #1D9BF0;
  border-radius: 15px;
}
footer div .fa-instagram:hover {
  transform: scale(1.1);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border: 1px solid #1f1e1e;
  border-radius: 15px;
}
footer div .fa-facebook:hover {
  background-color: #4267B2;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border: 1px solid #1D9BF0;
  border-radius: 15px;
  transform: scale(1.1);
}
footer div .fa-youtube:hover {
  background-color: red;
  border: 1px solid red;
  border-radius: 15px;
}
footer button {
  height: 70%;
  font-size: 1.2vw;
  margin-right: 1rem;
  z-index: 5;
  background-color: red;
  cursor: pointer;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid red;
  border-radius: 15px;
}
footer button:hover {
  opacity: 0.8;
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
footer button:active {
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
footer button a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  text-align: center;
}

.section-about {
  height: 91vh;
  width: 82vw;
  position: relative;
  top: 4.5rem;
  background-color: white;
  border: 7px solid;
  border-radius: 15px;
}
@media (min-width: 1024px) {
  .section-about {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 360px) {
  .section-about {
    width: 95vw;
    height: 95vh;
    position: absolute;
    top: 1.2rem;
    left: 0.9rem;
  }
}
@media (max-width: 400px) {
  .section-about {
    width: 95vw;
    height: 95vh;
    position: absolute;
    top: 1.2rem;
    left: 0.9rem;
  }
}
.section-about .img-container {
  height: 60vh;
}
@media (min-width: 1024px) {
  .section-about .img-container {
    height: 90vh;
    width: 57vw;
  }
}
@media (max-width: 414px) {
  .section-about .img-container {
    height: 40vh;
  }
}
@media (max-width: 540px) {
  .section-about .img-container {
    height: 45vh;
  }
}
@media (max-width: 750px) {
  .section-about .img-container {
    height: 45vh;
  }
}
@media (max-width: 820px) {
  .section-about .img-container {
    height: 55vh;
  }
}
.section-about .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.section-about .content-container {
  height: 30vh;
  width: 80vw;
  background-color: white;
  color: black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .section-about .content-container {
    width: 25vw;
    height: 90vh;
  }
}
@media (max-width: 414px) {
  .section-about .content-container {
    height: 50vh;
  }
}
@media (max-width: 540px) {
  .section-about .content-container {
    height: 45vh;
  }
}
@media (max-width: 750px) {
  .section-about .content-container {
    height: 45vh;
  }
}
@media (max-width: 820px) {
  .section-about .content-container {
    height: 35vh;
  }
}
.section-about .content-container h2 {
  padding: 2rem;
  font-size: 1.5rem;
}
@media (min-width: 1024px) {
  .section-about .content-container h2 {
    font-size: 2.5rem;
  }
}
.section-about .content-container h3 {
  padding: 2rem;
  font-size: 1rem;
}
@media (min-width: 1024px) {
  .section-about .content-container h3 {
    font-size: 1.5rem;
    width: 90%;
  }
}
.section-about .content-container p {
  padding: 2rem;
  font-size: 1.2rem;
}
@media (min-width: 1024px) {
  .section-about .content-container p {
    font-size: 2rem;
    width: 90%;
  }
}
@media (max-width: 360px) {
  .section-about .content-container p {
    padding: 0;
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  .section-about .content-container p {
    padding: 0;
  }
}
@media (max-width: 540px) {
  .section-about .content-container p {
    font-size: 1rem;
  }
}
.section-about .content-container button {
  font-size: 1rem;
  position: relative;
  right: 1rem;
  background-color: red;
  cursor: pointer;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid red;
  border-radius: 15px;
}
.section-about .content-container button:hover {
  opacity: 0.8;
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
.section-about .content-container button:active {
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
@media (min-width: 1024px) {
  .section-about .content-container button {
    font-size: 2rem;
  }
}
@media (max-width: 400px) {
  .section-about .content-container button {
    position: relative;
    top: 2rem;
  }
}
@media (max-width: 750px) {
  .section-about .content-container button {
    position: relative;
    bottom: 1.2rem;
  }
}
.section-about .content-container button a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  text-align: center;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/kino.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: 95%;
  width: 100%;
  opacity: 1;
  background: transparent;
  color: white;
  display: flex;
  justify-content: center;
}
main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}
main form h1 {
  border-bottom: 2px solid green;
  font-size: 3.5rem;
  text-align: center;
  padding-bottom: 5px;
  width: 30%;
  position: relative;
  bottom: 3rem;
}
@media (max-width: 360px) {
  main form h1 {
    font-size: 2rem;
  }
}
@media (max-width: 400px) {
  main form h1 {
    font-size: 2rem;
  }
}
main form .input-container div input {
  background: transparent;
  border: none;
  border-bottom: 1px solid green;
  padding: 3px;
  width: 100%;
  color: white;
}
main form .input-container div input::-moz-placeholder {
  color: white;
  font-weight: bold;
  opacity: 0.5;
}
main form .input-container div input:-ms-input-placeholder {
  color: white;
  font-weight: bold;
  opacity: 0.5;
}
main form .input-container div input::placeholder {
  color: white;
  font-weight: bold;
  opacity: 0.5;
}
@media (max-width: 360px) {
  main form .input-container div input::-moz-placeholder {
    font-size: 1rem;
  }
  main form .input-container div input:-ms-input-placeholder {
    font-size: 1rem;
  }
  main form .input-container div input::placeholder {
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  main form .input-container div input::-moz-placeholder {
    font-size: 1rem;
  }
  main form .input-container div input:-ms-input-placeholder {
    font-size: 1rem;
  }
  main form .input-container div input::placeholder {
    font-size: 1rem;
  }
}
main form .input-container div i {
  position: relative;
  top: 17px;
  font-size: 1rem;
  color: white;
  opacity: 0.5;
}
main form button {
  width: 12rem;
  height: 4rem;
  font-size: 2rem;
  background-color: red;
  color: white;
  cursor: pointer;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid red;
  border-radius: 15px;
  margin-top: 3rem;
}
main form button:hover {
  opacity: 0.8;
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
main form button:active {
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 360px) {
  main form button {
    height: 2.5rem;
    width: 8rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 400px) {
  main form button {
    height: 2.5rem;
    width: 8rem;
    font-size: 1.5rem;
  }
}
main form button a {
  text-decoration: none;
  color: white;
}

#email {
  font-family: "FontAwesome";
  padding-left: 30px;
}

#pw {
  font-family: "FontAwesome";
  padding-left: 30px;
}/*# sourceMappingURL=main.css.map */