@mixin flexBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button {
    cursor: pointer;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 5px rgba(0, 0, 0, 0.1);
    &:hover {
    opacity: 0.8;
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
    }
    &:active {
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
    }
    border: 1px solid red;
    border-radius: 15px;
}

@mixin grow {
    &:hover {
        transform: scale(1.1);
        z-index: 5;
        border: 3px solid white;
        p {
            width: 90%;
        }
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

 @mixin s8 {
     @media (max-width: $s8) {
         @content;
     }
 }

 @mixin iphone12 {
     @media (max-width: $iphone12) {
        @content;
    }
 }

 @mixin responsive {
    @media (max-width: $responsive) {
       @content;
   }
}

@mixin ipadair {
    @media (max-width: $ipadair) {
       @content;
   }
}
